<header class="bg-secondary text-white">
    <div class="container text-center">
      <h1>SWAPI</h1>
      <p class="lead">Ng2 app using SWAPI</p>
    </div>
</header>

<app-search></app-search>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About this app</h2>
        <p class="lead">Use the search component to get results from SWAPI</p>
        <p class="lead">This app uses SWAPI and Angular to show the respective examples:</p>
        <ul>
          <li>Angular CLI usage</li>
          <li>Services and Components</li>
          <li>Routes</li>
          <li>HTTP Service injection</li>
          <li>Promises VS Observables</li>
        </ul>
      </div>
    </div>
  </div>
</section>